@tailwind base;
@tailwind components;
@tailwind utilities;




.homee{
    position: relative;
    /* background-color: linear-gradient(to left, rgba(255,0,0,0), rgba(255,0,0,1)); */

    /* background-color:black */


}

.homee::before{

    background-image:url('../src/assets/h5.jpg') ;
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.5;
    background-size: cover;


}

.inner,.navInner{
    isolation: isolate;

}

.search{
    background-color: rgba(250, 255, 255,0.6);

}

/* .pO{
    background-color: rgba(250, 255, 255,0.5);
    --mask: 
    linear-gradient(to left,#0000 30px,#000 0),
    radial-gradient(30px,#000 98%,#0000) right/60px 55.5px;
    -webkit-mask: var(--mask);
          mask: var(--mask);
} */

/* .opa{
    opacity: 0.4;
} */


